<!DOCTYPE html>
<html>
    <head>
        <title>SmartHome</title>
        <link rel="stylesheet" href="../static/dark_theme.css">
        <script src="../static/functions.js"></script>
    </head>
    <body>
        <div class="room_nav">
            <a href="/livingroom">Livingroom</a>
            <a href="/bedroom1">Bedroom1</a>
            <a href="/bedroom2">Bedroom2</a>
            <a href="/bathroom">Bathroom</a>
            <a href="/kitchen" class="active">Kitchen</a>
            <a href="/garage">Garage</a>
          </div>
    </body>
</html>